/* estilos navbar */


/* modal home */
.content-footer-modal-copy{
    position: absolute;
    bottom: 2%;
}

/* proyectos */
html body .fp-controlArrow.fp-next,
html body .fp-controlArrow.fp-prev {        
    border-color: transparent transparent transparent transparent!important;
}  